<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <title>MealSac | 게시판</title>
    <link rel="stylesheet" href="/static/css/board.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>
    <div class="container">
      <div class="topBox">
        <div>
          <h1>SAC BOARD</h1>
          <p id="msg">새싹님들의 자유로운 밥 이야기를 들려주세요!</p>
        </div>
      </div>

      <div class="btnBox">
        <button type="button" class="clicked" id="freeBoard" name="freeBoard">
          자유게시판
        </button>
        <button type="button" id="noticeBoard" name="noticeBoard">
          공지사항
        </button>
      </div>

      <div class="boardList">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="cols" class="idx">#</th>
              <th scope="cols" class="title">제목</th>
              <th scope="cols" class="writer">작성자</th>
              <th scope="cols" class="date">날짜</th>
            </tr>
          </thead>

          <tbody>
            <% for (let i = 1; i <= 10; i++) { %> <% const now = new Date(); %>
            <% const formattedDate = `${now.getFullYear()}.${(now.getMonth() +
            1).toString().padStart(2,
            '0')}.${now.getDate().toString().padStart(2, '0')}
            ${now.getHours().toString().padStart(2,
            '0')}:${now.getMinutes().toString().padStart(2, '0')}`; %>
            <tr>
              <td scope="row" class="idx"><%= i %></td>
              <td class="title"><a href="#">Title</a></td>
              <td class="writer">User</td>
              <td class="date"><%= formattedDate %></td>
            </tr>
            <% } %>
          </tbody>
          <!-- <tbody>
        < data.forEach((el,index) => {%>
        <tr>
          <th scope="row"><= index + 1%></th>
          <td><= el.Title %></td>
          <td><= el.Article %></td>
          <td><= el.Created.toLocaleDateString() %></td>
          <td>
            <a class="btn btn-warning" href="/edit/<= el.id %> ">수정/삭제</a>
          </td>
        </tr>
      </tbody>
      < }) %> -->
        </table>
      </div>
      <button type="button" id="write" name="write">글쓰기</button>
      <div class="pagenation">
        <p>1 2 3 4 5</p>
      </div>
    </div>
  </body>
</html>
