<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <link rel="stylesheet" href="../../static/css/mypage.css" />
    <title>MealSac | 마이페이지</title>
    <script defer src="/static/js/mypage.js"></script>
  </head>
  <body>
    <%- include('../common/header') %>
    <div class="container">
      <h1>MY PAGE</h1>
      <span class="msg" id="userName"><%= user_name %></span>
      <span class="msg">님, 반갑습니다!</span>
      <br /><br /><br />

      <button type="button" id="profile" onclick="location.href='profile'">
        회원정보
      </button>
    </div>
    <hr />
    <div class="userRestaurant">
      <button
        type="button"
        name="myLike"
        id="myLike"
        class="clicked"
        onclick="likeList()"
      >
        찜목록
      </button>
      <button
        type="button"
        name="myReview"
        id="myReview"
        onclick="reviewList()"
      >
        리뷰목록
      </button>
      <button type="button" name="myPost" id="myPost" onclick="postList()">
        글목록
      </button>
    </div>
    <hr />
    <div class="listContainer">
      <div class="list">
        <div>
          <div id="myLikes"></div>
          <div class="likePage">
            <button class="prevPage" id="likePrev">이전</button>
            <button class="nextPage" id="likeNext">다음</button>
          </div>
        </div>
        <div>
          <div id="myReviews" style="display: none"></div>
          <div class="reviewPage" style="display: none">
            <button class="prevPage" id="reviewPrev">이전</button>
            <button class="nextPage" id="reviewNext">다음</button>
          </div>
        </div>
        <div>
          <div id="myPosts" style="display: none"></div>
          <div class="postPage" style="display: none">
            <button class="prevPage" id="postPrev">이전</button>
            <button class="nextPage" id="postNext">다음</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
