<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <link rel="stylesheet" href="../../static/css/mypage.css" />
    <title>MealSac | 마이페이지</title>
  </head>
  <body>
    <%- include('../common/header') %>
    <div class="container">
      <h1>MY PAGE</h1>
      <span id="userName">userName</span>
      <span>님, 반갑습니다!</span>
      <br /><br /><br />

      <button type="button" id="profile" onclick="location.href='profile'">
        회원정보
      </button>
      <!-- <button type="button" id="logout" onclick="location.href='/'">
        로그아웃
      </button> -->
    </div>
    <hr />
    <div class="userRestaurant">
      <button
        type="button"
        name="myLike"
        id="myLike"
        class="clicked"
        onclick="likeList()"
      >
        나의 찜
      </button>
      <button
        type="button"
        name="myReview"
        id="myReview"
        onclick="reviewList()"
      >
        리뷰관리
      </button>
    </div>
    <hr />
    <div class="list">
      <div id="myLikes">
        <% if (Array.isArray(restaurant) && restaurant.length > 0) { %> <%
        restaurant.forEach(restaurant => { %>
        <div id="likeStore">
          <%- include('../common/restaurantComponent.ejs', { restaurant:
          restaurant }) %>
        </div>
        <% }) %> <% } else { %>
        <p>찜한 식당이 없습니다.</p>
        <% } %>
      </div>
      <div id="myReviews" style="display: none">
        <div id="reviews">review1</div>
        <div id="reviews">review2</div>
        <div id="reviews">review3</div>
      </div>
    </div>
  </body>
  <script src="../../static/js/mypage.js"></script>
</html>
