<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <link rel="stylesheet" href="../../static/css/mypage.css" />
    <title>MealSac | 마이페이지</title>
    <script defer src="../../static/js/mypage.js"></script>
  </head>
  <body>
    <%- include('../common/header') %>
    <div class="container">
      <h1>MY PAGE</h1>
      <span class="msg" id="userName"><%= user_name %></span>
      <span class="msg">님, 반갑습니다!</span>
      <br /><br /><br />

      <button type="button" id="profile" onclick="location.href='profile'">
        회원정보
      </button>
      <!-- <button type="button" id="logout" onclick="location.href='/'">
        로그아웃
      </button> -->
    </div>
    <hr />
    <div class="userRestaurant">
      <button
        type="button"
        name="myLike"
        id="myLike"
        class="clicked"
        onclick="likeList()"
      >
        찜목록
      </button>
      <button
        type="button"
        name="myReview"
        id="myReview"
        onclick="reviewList()"
      >
        리뷰목록
      </button>
      <button type="button" name="myPost" id="myPost" onclick="postList()">
        글목록
      </button>
    </div>
    <hr />
    <div class="list">
      <div id="myLikes">
        <% if (Array.isArray(restaurant) && restaurant.length > 0) { %> <%
        restaurant.forEach(restaurant => { %>
        <div id="likeStore">
          <%- include('../common/restaurantComponent.ejs', { restaurant:
          restaurant }) %>
        </div>
        <% }) %> <% } else { %>
        <div id="none">찜한 식당이 없습니다.</div>
        <% } %>
      </div>
      <div id="myReviews" style="display: none">
        <div id="reviews">
          <div class="reviewInfo">
            <div>
              <span>restaurantName</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="5vh"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M9.70492 6L8.29492 7.41L12.8749 12L8.29492 16.59L9.70492 18L15.7049 12L9.70492 6Z"
                  fill="#4DDA67"
                />
              </svg>
            </div>
            <div>
              <img src="/static/img/star.png" alt="평점" class="starIcon" />
              <span>4.5</span>
            </div>
          </div>
          <p>우아아 마시땅</p>
          <div class="reviewImg" style="overflow: hidden; position: relative">
            <img src="/static/img/like.png" />
          </div>
        </div>
      </div>
      <div id="myPosts" style="display: none">
        <div class="post">post</div>
        <div class="post">post</div>
        <div class="post">post</div>
      </div>
    </div>
  </body>
</html>
