<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random</title>
  <link rel="stylesheet" href="/static/css/random.css"></link>
</head>
<body>
  <h1>랜덤 페이지</h1>
  <script src="../../static/js/random.js"></script>
</body>
</html>