* {
  box-sizing: border-box;
  font-family: Inter;
}

.logo {
  height: 120px;
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

#logo1 {
  width: 44px;
  height: 47px;
}

.container {
  width: 400px;
  margin: auto;
}

.container div {
  width: 100%;
}

input {
  border: none;
  outline: none;
  margin: 13px;
  font-size: 15px;
  width: 90%;
}

.box {
  position: relative;
  width: 362px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #989898;
  margin-top: 10px;
}

h1 {
  font-weight: 900;
}

#msg {
  font-weight: 300;
  font-size: 18px;
}

label {
  font-weight: 700;
  font-size: 22px;
}

.doLogin {
  border-radius: 15px;
  border: 1px solid #a5e467;
  background: #a5e467;
  font-size: 25px;
  font-weight: 500;
  width: 398px;
  height: 45px;
}

.already {
  display: flex;
  justify-content: space-between;
  color: #989898;
  margin-top: 10px;
}

a {
  color: #989898;
}

#loginMsg {
  color: red;
  font-size: 12px;
}
