<footer>
  <br />
  <p class="contact">
    <span class="github">| GITHUB |</span>
    <span class="contact-link">| CONTACT |</span>
  </p>
  <br />

  <p>이 프로젝트는 포트폴리오 목적으로 제작되었습니다.</p>
  <p>
    상업적인 용도로 사용하지 않을 것입니다. 이 프로젝트의 목적은 개인적인 학습과
    기술 데모를 위한 것입니다.
  </p>
  <p>원작자가 아닌 다른 소스로부터 자료를 가져왔음을 밝힙니다.</p>
  <br />
</footer>
