<div class="header">
  <img src="../../static/img/logo2.png" alt="로고">
  <div>
      <button>로 그 인</button>
      <button>회 원 가 입</button>
      <!-- 로그인 후 -->
      <button>로 그 아 웃</button>
      <button>마 이 페 이 지</button>
  </div>
</div>