 <!-- Header -->
 <div class="header">
  <img src="../../static/img/logo2.png" alt="로고">
  <div>
      <button class="login" onclick="location.href='../views/login/index.ejs';">로 그 인</button>
      <button class="register">회 원 가 입</button>
      <!-- 로그인 후 -->
      <button class="logout" >로 그 아 웃</button>
      <button class="mypage" >마 이 페 이 지</button>
  </div>
</div>

<script src="path/to/header.js"> </script>