<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./common/commonHead.ejs') %>
  <title>mainPage</title>
  <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
  <!-- Header -->
<%- include('./common/header.ejs') %>

<!-- Menu Icons -->
<div class="menuIcons">
    <div class="button">
        <img src="../static/img/random.png" alt="랜덤 메뉴 아이콘">
        <p>랜덤 메뉴</p>
    </div>
    <div class="button">
      <img src="../static/img/hashtag.png" alt="카테고리 아이콘">
      <p>카테고리</p>
    </div>
    <div class="button">
      <img src="../static/img/chat.png" alt="게시판 아이콘">
      <p>게시판</p>
    </div>
    <div class="button">
      <img src="../static/img/place.png" alt="주변식당 아이콘">
      <p>주변 식당</p>
    </div>
    <div class="button">
      <img src="../static/img/search.png" alt="키워드 검색 아이콘">
      <p>키워드 검색</p>
    </div>
</div>
<br>
<!-- Popular Restaurants -->
<div class="restaurants">
    <h3>인기식당</h3>
    <button class="slide-btn prev">&lt;</button>
    <div class="slide-container">
  <div class="cardMenu">
    <div class="card-container">
      <div class="card">
        <img src="#" alt="Restaurant 1">
        <p class="restaurantName">식당 이름</p>
        <div class="categoryRating">

          <p class="category">카테고리</p>
          <div class="ratingReview">
          <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p type="button" class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
        </div>
        </div>
      
    </div>
  </div>
    <div class="card-container">
      <div class="card">
       <img src="#" alt="Restaurant 2">
       <p class="restaurantName">식당 이름</p>
       <div class="categoryRating">
       <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
      </div>
      </div>

    </div>
  </div>
    <div class="card-container">
      <div class="card">
       <img src="#" alt="Restaurant 3">
       <p class="restaurantName">식당 이름</p>
       <div class="categoryRating">

         <p class="category">카테고리</p>
         <div class="ratingReview">
          <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
        </div>
        </div>
    
    </div>
  </div>
    <div class="card-container">
      <div class="card">
       <img src="#" alt="Restaurant 4">
       <p class="restaurantName">식당 이름</p>
       <div class="categoryRating">

         <p class="category">카테고리</p>
         <div class="ratingReview">
          <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
        </div>
        </div>
      
    </div>
  </div>
</div>
</div>
<button class="slide-btn next">&gt;</button>
</div>
<br>
<!-- New Restaurants -->
<div class="restaurants">
    <h3>신규식당</h3>
    <button class="slide-btn prev">&lt;</button>
    <div class="slide-container">
    <div class="cardMenu">
    <div class="card-container">
      <div class="card">
      <img src="#" alt="Restaurant 1">
      <p class="restaurantName">식당 이름</p>
      <div class="categoryRating">

        <p class="category">카테고리</p>
        <div class="ratingReview">
          <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
        </div>
      </div>
  </div>
</div>
  <div class="card-container">
    <div class="card">
     <img src="#" alt="Restaurant 2">
     <p class="restaurantName">식당 이름</p>
     <div class="categoryRating">

       <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
      </div>
      </div>
  </div>
</div>
  <div class="card-container">
    <div class="card">
     <img src="#" alt="Restaurant 3">
     <p class="restaurantName">식당 이름</p>
     <div class="categoryRating">

       <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
      </div>
      </div>
  </div>
</div>
  <div class="card-container">
    <div class="card">
     <img src="#" alt="Restaurant 4">
     <p class="restaurantName">식당 이름</p>
     <div class="categoryRating">

       <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
      </div>
      </div>
  </div>
</div>
</div>
</div>
<button class="slide-btn next">&gt;</button>
</div>
<br>
<!-- User's Favorites (if log in) -->
<div class="restaurants">
    <h3>찜한 식당</h3>
    <button class="slide-btn prev">&lt;</button>
    <div class="slide-container">
    <div class="cardMenu">
    <div class="card-container">
      <div class="card">
      <img src="#" alt="Restaurant 1">
      <p class="restaurantName">식당 이름</p>
      <div class="categoryRating">

        <p class="category">카테고리</p>
        <div class="ratingReview">
          <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
        </div>
      </div>
  </div>
</div>
  <div class="card-container">
    <div class="card">
     <img src="#" alt="Restaurant 2">
     <p class="restaurantName">식당 이름</p>
     <div class="categoryRating">

      <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
        <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
        </div>
      </div>
  </div>
</div>
  <div class="card-container">
    <div class="card">
     <img src="#" alt="Restaurant 3">
     <p class="restaurantName">식당 이름</p>
     <div class="categoryRating">

       <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
      </div>
      </div>
  </div>
</div>
  <div class="card-container">
    <div class="card">
     <img src="#" alt="Restaurant 4">
     <p class="restaurantName">식당 이름</p>
     <div class="categoryRating">

       <p class="category">카테고리</p>
       <div class="ratingReview">
        <p class="rating"> <img src="../static/img/rating.png" alt="Rating"> 4.5</p>
          <p class="review"> <img src="../static/img/speechBalloon.png" alt="Review"> </p>
      </div> 
      </div>
  </div>
</div>
</div>
</div>
<button class="slide-btn next">&gt;</button>
</div>
<br>
<!-- Footer -->
<%- include('./common/footer.ejs') %>

</body>
</html>