<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./common/commonHead.ejs') %>
    <title>mainPage</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="../static/js/index.js"></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('./common/header.ejs') %>
    <div class="mainBanner">
      <div
        id="mainCarousel"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              src="../static/img/main_banner(2).jpg"
              class="d-block w-100"
              alt="메인이미지"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="../static/img/main_banner(1).jpg"
              class="d-block w-100"
              alt="메인이미지"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="../static/img/main_banner.jpg"
              class="d-block w-100"
              alt="메인이미지"
            />
          </div>
        </div>
      </div>
      <div id="mainInfo">
        <div>
          <div>
            <p>Taste the World Near You</p>
            <p>With <span>MEALSAC</span></p>
          </div>
          <div class="search">
            <img src="../static/img/explore.png" alt="검색" />
            <input
              type="text"
              class="searchInput"
              placeholder="What is today's menu?"
            />
          </div>
        </div>
      </div>
      <div id="scroll">
        <p>MORE</p>
        <p>SCROLL</p>
        <img src="../static/img/navigate_next.svg" alt="스크롤이미지" />
      </div>
    </div>
    <div class="floating">
      <div>
        <button
          class="floatingMenu"
          id="menuRandom"
          onclick="window.location.href='/random'"
        >
          <img src="../static/img/random.png" alt="랜덤메뉴" />
          <p>RANDOM</p>
        </button>
        <button
          class="floatingMenu"
          id="menuBoard"
          onclick="window.location.href='/board'"
        >
          <img src="../static/img/board.png" alt="게시판" />
          <p>BOARD</p>
        </button>
        <button
          class="floatingMenu"
          id="menuRestaurant"
          onclick="window.location.href='/restaurants'"
        >
          <img src="../static/img/restaurant.png" alt="식당" />
          <p>RESTAURANT</p>
        </button>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./common/footer.ejs') %>
  </body>
</html>
