body {
  margin: 0px 20px 0px 20px;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.topBox {
  height: 20vh;
  display: flex;
  align-items: center;
  padding-top: 5vh;
}

h1 {
  font-weight: 900;
}

.boardType {
  width: 124px;
  height: 5vh;
  border: none;
  background-color: transparent;
  vertical-align: top;
  font-weight: bold;
  color: #4dda67;
}

.titleBox {
  border-bottom: solid black 1px;
  border-top: solid black 1px;
}

.title {
  height: 40px;
  border-bottom: solid rgb(169, 169, 169) 1px;
  padding: 5px;
  margin: 0;
}

.postInfo {
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.postContent {
  min-height: 300px;
  border-bottom: solid black 1px;
}

.textReply {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.textReply p {
  font-weight: bold;
}

textarea {
  display: block;
  width: 100%;
  height: 50px;
  resize: none;
  border-radius: 10px;
  padding: 5px;
}

#replyBtn {
  align-self: flex-end;
  border: none;
  border-radius: 30px;
  background-color: #ffe0b6;
  width: 50px;
  margin-top: 5px;
}

.replyList {
  margin-top: 40px;
  margin-bottom: 150px;
}

.replyInfo {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.reply {
  border-bottom: solid rgb(167, 167, 167) 0.5px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}
