html {
  margin: 0px 20px 0px 20px;
}

#container {
  padding: 0;
  font-size: 16px;
}

.topBox {
  height: 20vh;
  align-items: center;
  padding-top: 4vh;
  margin-bottom: 20px;
}

div h1 {
  font-weight: 900;
}

input {
  border: none;
  outline: none;
}

.title {
  height: 50px;
  align-items: center;
  border-bottom: solid black;
  margin-top: 10px;
}

.content {
  margin-top: 10px;
}

button {
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.btns {
  margin-top: 30px;
  text-align: center;
}

form {
  margin-bottom: 100px;
}

#postBtn,
#backBtn {
  width: 80px;
  margin: 5px;
  border-radius: 30px;
  border: solid 1px #ffe0b6;
}

@media (max-width: 480px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}
