/* header css */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 40px;
}

/* 폰트 */
* {
  font-family: Inter;
}

/* footer css */
footer {
  background-color: #f7f7f7;
  text-align: center;
  height: 220px;
}

footer p .contact {
  font-size: large;
}

footer p {
  font-size: small;
}
