/* 기본 스타일 (데스크탑 뷰) */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-logo {
  height: 40px;
}
.mobile-logo {
  display: none;
}

.dropdown-content {
  display: none;
}

.logged-in {
  display: none;
}

.login,
.logout,
.register,
.mypage,
.mobile-login {
  height: 30px;
  width: 100px;
  font-size: medium;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.login,
.logout {
  background-color: #f7f7f7;
}

.register,
.mypage,
.mobile-login {
  background-color: #a5e467;
}

.logout,
.mypage,
.mobile-login {
  display: none;
}

* {
  font-family: Inter;
}

/* 태블릿 뷰 (481px - 1024px) */
/* 여기서는 데스크탑 뷰와 동일하므로 별도의 스타일 지정이 필요하지 않습니다. */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* 아무 변경도 없음 */
}

/* 모바일 뷰 (280px 이상, 480px 이하) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  .header {
    padding: 15px 30px 15px 30px; /* 패딩 줄이기 */
  }

  .desktop-logo {
    display: none; /* 데스크탑 로고 숨기기 */
  }

  .mobile-logo {
    display: block; /* 모바일 로고 보이기 */
  }

  .login,
  .register {
    display: none;
  }

  .logout,
  .mypage {
    display: none;
  }

  .logged-out .mobile-login,
  .logged-in .hamburger {
    display: block; /* 모바일 로그인 버튼 및 햄버거 메뉴 보이기 */
  }

  .mobile-login {
    height: 20px;
    width: 60px;
    font-size: xx-small;
  }

  .header img {
    height: 180%; /* 이미지 크기 줄이기 */
  }

  .login,
  .logout,
  .register,
  .mypage {
    height: 25px;
    width: 80px;
    font-size: x-small; /* 글자 크기 줄이기 */
  }

  .logged-in .dropdown-content {
    display: block; /* 일단 드롭다운을 항상 보이게 설정합니다. */
    position: absolute;
    right: 10px; /* 헤더의 오른쪽으로부터 10px 떨어져있게 설정 */
    top: 50px; /* 헤더의 아래에 위치하도록 설정 */
    background-color: #f9f9f9; /* 배경색 설정 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; /* 다른 요소들 위에 위치하도록 설정 */
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }
}

/* 갤럭시 폴드 폴드 상태 (280px) */
@media only screen and (max-width: 280px) {
  .header img {
    height: 180%; /* 로고의 높이를 줄입니다. */
  }

  .login,
  .logout,
  .register,
  .mypage {
    height: 20px; /* 버튼의 높이 조정 */
    width: 60px; /* 버튼의 너비 조정 */
    font-size: xx-small; /* 폰트 크기 줄이기 */
  }
}

/* footer css */
footer {
  background-color: #f7f7f7;
  text-align: center;
  height: 220px;
}

footer p .contact {
  font-size: large;
}

footer p {
  font-size: small;
}

/* 모바일 뷰 (280px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  .contact .github,
  .contact .contact-link {
    display: block;
  }

  .contact {
    font-size: medium;
  }

  footer p {
    font-size: x-small;
    margin-bottom: 5px;
  }
}

/* 갤럭시 폴드 폴드 상태 (280px 이하) */
@media only screen and (max-width: 280px) {
  .contact .github,
  .contact .contact-link {
    display: block;
  }

  .contact {
    font-size: small;
  }

  footer p {
    font-size: xx-small;
    margin-bottom: 4px;
  }
}
