/* 기본 스타일 (데스크탑 뷰) */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 60px;
}

.header img {
  height: 40px;
}

.login,
.logout,
.register,
.mypage {
  height: 30px;
  width: 100px;
  font-size: medium;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.login,
.logout {
  background-color: #f7f7f7;
}

.register,
.mypage {
  background-color: #a5e467;
}

.logout,
.mypage {
  display: none;
}

* {
  font-family: Inter;
}

/* 태블릿 뷰 (481px - 1024px) */
/* 여기서는 데스크탑 뷰와 동일하므로 별도의 스타일 지정이 필요하지 않습니다. */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* 아무 변경도 없음 */
}

/* 모바일 뷰 (280px 이상, 480px 이하) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  .header {
    padding: 15px 30px 15px 30px; /* 패딩 줄이기 */
  }

  .header img {
    height: 30px; /* 이미지 크기 줄이기 */
  }

  .login,
  .logout,
  .register,
  .mypage {
    height: 25px;
    width: 80px;
    font-size: small; /* 글자 크기 줄이기 */
  }
}

/* 갤럭시 폴드 폴드 상태 (280px) */
@media only screen and (max-width: 280px) {
  .header img {
    height: 80%; /* 로고의 높이를 줄입니다. */
  }

  .login,
  .logout,
  .register,
  .mypage {
    height: 20px; /* 버튼의 높이 조정 */
    width: 60px; /* 버튼의 너비 조정 */
    font-size: xx-small; /* 폰트 크기 줄이기 */
  }
}

/* footer css */
footer {
  background-color: #f7f7f7;
  text-align: center;
  height: 220px;
}

footer p .contact {
  font-size: large;
}

footer p {
  font-size: small;
}
