ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

.restaurantContainer {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}

.restaurantImg {
  width: 170px;
  height: 170px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #89d83f;
  border-radius: 10px;
}

.restaurantInfo {
  padding: 0 5px 0 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurantInfo > div:first-child {
  display: flex;
  justify-content: space-between;
}

.restaurantInfo > div:nth-child(4) > * {
  display: inline-block;
}

.restaurantInfo h3 {
  font-size: 1.2rem;
}

.restaurantInfo .address {
  font-size: 0.7rem;
}

.heart {
  width: 23px;
  height: 25px;
}

.rating {
  width: 15px;
  height: 15px;
}

.comment {
  width: 18px;
  height: 18px;
}

.restaurantInfo > div p {
  font-size: 0.8rem;
  transform: translateY(2px);
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #89d83f;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background-color: #e0f0d1;
  }
}

.callIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.naverIcon {
  width: 35px;
  height: 20px;
  margin-right: 3px;
}

.kakaoIcon {
  width: 35px;
  height: 30px;
  margin-right: 3px;
}

.tabContart {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 6px 0;
  border-top: 1px solid #989898;
  border-bottom: 1px solid #989898;
  background-color: #fff;
  cursor: pointer;
}

.tabContart a {
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid #89d83f;
}

section h3 {
  font-size: 1.5rem;
  margin: 35px 0 10px 0;
}

#showReviewForm {
  margin: 35px 0 10px 0;
}

#menu figure {
  display: flex;
}

#menu img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
}

#menu div {
  margin: auto 10px;
}

#menu figcaption:first-child {
  margin-bottom: 20px;
}

#review > div {
  display: flex;
  justify-content: space-between;
}

#review input:not(#imageFiles):not(#submitbtn),
#review select,
#review textarea {
  border: 1px solid #989898;
  border-radius: 10px;

  &:focus {
    outline-color: #989898;
  }
}

#ratingList,
#imageFiles {
  cursor: pointer;
}

#title {
  margin-bottom: 10px;
}

#review textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

.inputRating {
  display: inline-block;
  margin-bottom: 10px;
}

#showReviewForm,
#submitbtn {
  width: 100px;
  height: 32px;
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: #e0f0d1;
  border: 2px solid #89d83f;
  border-radius: 25px;
}

.review > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#showReviewForm {
  width: 130px;
}

.reviewContainer > div {
  display: flex;
  justify-content: space-between;
}

.reviewContainer > div > div:nth-child(2) {
  display: flex;
  width: 180px;
  justify-content: space-between;
  font-size: 14px;

  & * {
    font-size: 14px;
  }
}

.reviewImg {
  width: 100%;
  display: inline-block;
  overflow-x: auto;
}

.reviewImg img {
  width: 130px;
  height: 130px;
  margin: 10px;
}

.reviewContent {
  font-size: 18px;
}

.thumbsIcon,
.starIcon {
  width: 20px;
  height: 20px;
}

.reviewContainer:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #989898;
}

.pageBtn {
  display: flex;
  justify-content: space-around;

  & button {
    padding: 0 10px;
    background-color: #fff;
    border: 2px solid #89d83f;
    border-radius: 25px;

    &:hover {
      background-color: #e0f0d1;
    }
  }
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

#restaurantInfo {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .restaurantContainer {
    width: 100%;
  }

  .restaurantInfo {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .restaurantComponent {
    width: 100%;
  }

  .buttonContainer {
    width: 100%;
    font-size: 0.7rem;
  }
}

@media (max-width: 440px) {
  .restaurantContainer {
    flex-direction: column;
  }
  .restaurantImg {
    width: 90vw;
    height: 90vw;
    margin: 10px auto;
  }

  .restaurantInfo {
    height: 25vh;
  }

  .restaurantInfo h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }

  .heart {
    width: 20px;
    height: 22px;
  }
}
