<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <title>MealSac | 게시판</title>
    <link rel="stylesheet" href="/static/css/boardWrite.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>
    <div class="container">
      <!-- CKEditor 활용하기 -->
      <div class="topBox">
        <h1>SAC BOARD</h1>
        <p id="msg">새싹님들의 자유로운 밥 이야기를 들려주세요!</p>
      </div>
      <div class="board_write_wrap">
        <div class="board_write">
          <div class="info">
            <label for="title">제목</label>
            <input id="title" type="text" placeholder="제목 입력" /><br />
            <label for="writer">작성자</label>
            <input id="writer" type="text" placeholder="글쓴이 입력" />
          </div>
          <div class="cont">
            <textarea placeholder="내용 입력"></textarea>
          </div>
        </div>
        <div class="bt_wrap">
          <button type="button" class="btns" id="post">등록</button>
          <button type="button" class="btns" id="cancel">취소</button>
        </div>
      </div>
    </div>
  </body>
</html>
